AddDefaultCharset UTF-8
Options +FollowSymlinks
RewriteEngine on
     
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^.*\.png$ sig.php
RewriteRule ^sig.*\.png$ sig.php

